.note {
  padding: 1.563rem;
  height: 17.5rem;
  width: 16.25rem;
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  border-radius: 1.875rem;
}

.note_text {
  flex: 1;
  resize: none;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.875rem;
  outline: none;
  border: none;
}
